.row{
    margin-left: 20px;
    color:#fff;
}
.card-image{
    max-height: 250px;
    margin-right: 10px;
}
.cards{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
}
.cards::-webkit-scrollbar{
    display: none;
}
.small-card-image{
    max-height: 150px;
    margin-right: 10px;
}